[submodule "tmux/.config/tmux/plugins/tpm"]
	path = tmux/.config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "src/src/nvim"]
	path = src/src/nvim
	url = https://github.com/neovim/neovim.git
